# Print a String

In [1]:
print("Hello !");

Hello !

# Use of indentation

In [10]:
x=1
if (x == 1):
    print (x);

1

# Use of integer

In [11]:
myInt = 7;
print(myInt);

7

# Use of float

In [12]:
myFloat = 7.0;
print(myFloat);

7.0

In [13]:
myFloat = float(7);
print(myFloat);

7.0

# Use of String

In [14]:
myString = "Hello";
print(myString);

Hello

In [15]:
myString = 'Hello';
print(myString);

Hello

In [16]:
myString = "Hello, I am Akhil Chandran";
print(myString);

Hello, I am Akhil Chandran

# Use of Simple operations (string and numbers)

In [17]:
one = 1;
two = 2;
three = one + two;
print(three);

3

In [18]:
hello = "hello";
world = "world";
helloWorld = hello + " " + world;
print(helloWorld);

hello world

# assigning value in multiple variables in a single line.

In [19]:
a, b = 3, 4;
print(a, b);

3 4

## Exercise

In [25]:
myString = "hello"
myFloat = 10.0
myInt = 20

if myString == "hello":
    print("String: %s" % myString)
if isinstance(myFloat, float) and myFloat == 10.0:
    print("Float: %f" % myFloat)
if isinstance(myInt, int) and myInt == 20:
    print("Integer: %d" % myInt)

String: hello
Float: 10.000000
Integer: 20

# List

In [27]:
myList = [];
myList.append(1);
myList.append(2);
myList.append(3);
print(myList[0]);
print(myList[1]);
print(myList[2]);

for x in myList:
    print(x);

1
2
3
1
2
3

## Exercise

In [29]:
numbers = [];
strings = [];
names = ["John", "Eric", "Jessica"];

numbers.append(1);
numbers.append(2);
numbers.append(3);

strings.append("hello");
strings.append("world");

second_name = names[1];

print(numbers);
print(strings);
print("The second name on the names list is %s" % second_name);

[1, 2, 3]
['hello', 'world']
The second name on the names list is Eric

# Basic Operations

# Arithmetic Operators

#### addition, subtraction, multiplication, and division operators

In [30]:
number = 1 + 2 * 3 / 4.0;
print(number);

2.5

#### modulo (%) operator

In [32]:
remainder = 11 % 3;
print(remainder);

2

#### Using two multiplication symbols makes a power relationship.

In [33]:
squared = 7 ** 2;
cubed = 2 ** 3;
print(squared);
print(cubed);

49
8

# Using Operators with Strings

### concatenating strings

In [34]:
helloWorld = "hello" + " " + "world";
print(helloWorld);

hello world

### multiplying strings

In [35]:
lotsOfHellos = "hello" * 10;
print(lotsOfHellos);

hellohellohellohellohellohellohellohellohellohello

# Using Operators with Lists

### Lists joining with addition operator

In [37]:
even_numbers = [2, 4, 6, 8];
odd_numbers = [1, 3, 5, 7];
all_numbers = odd_numbers + even_numbers;
print(all_numbers);

[1, 3, 5, 7, 2, 4, 6, 8]

### forming new lists with a repeating sequence

In [38]:
print([1, 2, 3] * 3);

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## Exercise

In [46]:
x = object();
y = object();

x_list = [x] * 10;
y_list = [y] * 10;
big_list = x_list + y_list;

print("x_list contains %d objects" % len(x_list));
print("y_list contains %d objects" % len(y_list));
print("big_list contains %d objects" % len(big_list));

if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...");
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great");

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects
Almost there...
Great

# String Formatting

In [47]:
name = "John";
print("Hello, %s!" % name);

Hello, John!

### use two or more argument specifiers, use a tuple (parentheses)

In [48]:
name = "John";
age = 23;
print("%s is %d years old." % (name, age));

John is 23 years old.

#### object which is not a string can be formatted using the %s operator

In [49]:
myList = [1, 2, 3];
print("A list: %s" % myList);

A list: [1, 2, 3]

## Exercise

In [55]:
data = ["John", "Doe", 53.44]
format_string = "Hello %s %s. Your current balance is $%.2f."

print(format_string % (data[0], data[1], data[2]))

Hello John Doe. Your current balance is $53.44.